<a href="https://colab.research.google.com/github/19PA1A0544/07-03-2020/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting
from sklearn.metrics import mean_squared_error

In [64]:
data=pd.read_csv("iris-flower-dataset.zip")
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [65]:
data.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [0]:
x=data[["petal_length","petal_width"]].values
y=data["sepal_length"].values

In [85]:
x.shape

(150, 2)

In [86]:
y.shape

(150,)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [105]:

model = LinearRegression()  
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [90]:
model.intercept_

4.1589662746813225

In [91]:
model.coef_

array([ 0.56233784, -0.3444174 ])

In [100]:
pridected_length=model.predict(x_test)
pridected_length.shape

(30,)

In [93]:
x_test.shapeC

(30, 2)

In [110]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": pridected_length.flatten()})
Actual_predicted.head()

   Actual  Predicted
0     5.8   6.200287
1     6.0   6.063900
2     5.5   4.877356
3     7.3   7.081743
4     5.0   4.933590

In [114]:
mean_squared_error(y_test,pridected_length)

0.14858643650117223